* {
    box-sizing: border-box;
    color: #eee
}

body {
    background: #222;
    color: #eee
}
.Window {
    overflow: auto;
    height: 400px;
    will-change: transform
}
.Window-inner {
}
/* .Table {
    display: table;
    width: 150%;
   
    table-layout: fixed;
}
.Table-Row {
    display: table-row;
}
.Table-Body {
    display: table-row-group
}
.Table-Header {
    display: table-header-group;
    font-weight: bold;
  
}
.Table-Footer {
    font-weight: 500;
    display: table-footer-group
}
.Table-Cell {
    display: table-cell;
    color: #eee;
    border: 1px solid #eee;
    text-align: center;
    padding: 5px;
    background: #222;
}
.Table-Header .Table-Cell span {
    writing-mode:  vertical-lr;
    transform: rotate(180deg);
}
.sticky {
    position: sticky;
} */
.Table {
    display: block;
    width: 150%;
    
    table-layout: fixed;
}
.Table-Row {
    display: grid;
    width: 100%;
}

.Table-Header {
    display: table-header-group;
    font-weight: bold;
   
}
.Table-Footer {
    font-weight: 500;
    display: table-footer-group
}
.Table-Cell {
    display: block;
    color: #eee;
    border: 1px solid #eee;
    text-align: center;
    padding: 5px;
    background: #222;
}
.Table-Header .Table-Cell span {
    writing-mode:  vertical-lr;
    transform: rotate(180deg);
}
.sticky {
    position: sticky;
}